In [56]:
import docx2txt
import warnings
warnings.filterwarnings('ignore')
import pandas as pd
from nltk.corpus import stopwords
import re
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [57]:
import pandas as pd
from nltk.corpus import stopwords
import re


df = pd.read_csv('./data/Jobs.csv')
df_course= pd.read_excel('./data/course.xlsx')

In [58]:
df_course.dropna(inplace=True)
df_course.Code=df_course.Code.map(lambda x:x.replace(' ',''))
dic_a=dict(df_course.Code)
my_dic = {k:v for v,k in dic_a.items()}
df_course.head(1)

,Track,Code,Unnamed: 2,Course Title,Instructor,Course Introduction
0,FINTECH,ISFS614,ISFS614,Digital Banking & Trends,PATRICK THNG,The financial services industry (FSI) has been...

In [59]:
df=df.dropna(subset=['Title','FullDescription','Company'])
#df.info()
df_data=df[df['Title'].str.contains("Data|business|analyst",flags=re.IGNORECASE, regex=True,na=False)]
#df_data=df.copy()
df_data=df_data.drop_duplicates(subset=['Title','FullDescription'])
#df_data.info()

In [61]:
def clean_text(text):
    # text preprocessing
    REPLACE_BY_SPACE_RE = re.compile('[#+_/(){}!^?<>"''*\[\]\|@,;]')
    BAD_SYMBOLS_RE = re.compile('[^0-9a-zA-Z #+_]')
    match_regex = re.compile('\d+')
    STOPWORDS = set(stopwords.words('english'))
    
    text = re.sub(REPLACE_BY_SPACE_RE, ' ', text)  # replace REPLACE_BY_SPACE_RE symbols by space in text
    text = re.sub(BAD_SYMBOLS_RE, '', text)  # delete symbols which are in BAD_SYMBOLS_RE from text
    querywords = text.split()
    # change to lower-csae
    text = str(text).lower()
    # drop the stopwords
    text = ' '.join(word for word in text.split() if word not in STOPWORDS) 
    return text

In [62]:
df_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16368 entries, 0 to 244750
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Id                  16368 non-null  int64
 1   Title               16368 non-null  object
 2   FullDescription     16368 non-null  object
 3   LocationRaw         16368 non-null  object
 4   LocationNormalized  16368 non-null  object
 5   ContractType        3639 non-null   object
 6   ContractTime        13749 non-null  object
 7   Company             16368 non-null  object
 8   Category            16368 non-null  object
 9   SalaryRaw           16368 non-null  object
 10  SalaryNormalized    16368 non-null  int64
 11  SourceName          16368 non-null  object
dtypes: int64(2), object(10)
memory usage: 1.6+ MB

In [63]:
df_data=df_data.head(8000)

In [64]:
for i in df_course.index:
    df_course.loc[i,'Course Introduction_Raw']=df_course.loc[i,'Course Introduction']
    df_course.loc[i,'Course Introduction']=clean_text(df_course.loc[i,'Course Introduction'])
for i in df_data.index:
    df_data.loc[i,'FullDescription_Raw']=df_data.loc[i,'FullDescription']
    df_data.loc[i,'FullDescription']=clean_text(df_data.loc[i,'FullDescription'])

In [66]:
df_data.to_excel(r'./data/jd_clean.xlsx')
df_course.to_excel(r'./data/course_clean.xlsx')