## Data import

In [3]:
from nltk import pos_tag,word_tokenize
from nltk.corpus import wordnet
from nltk.stem import WordNetLemmatizer
import pandas as pd
import numpy as np
import re

In [7]:
jd = pd.read_csv('data/jobs.csv')
jd.head(100)

,Id,Title,FullDescription,LocationRaw,LocationNormalized,ContractType,ContractTime,Company,Category,SalaryRaw,SalaryNormalized,SourceName
0,12612628,Engineering Systems Analyst,Engineering Systems Analyst Dorking Surrey Sal...,"Dorking, Surrey, Surrey",Dorking,NaN,permanent,Gregory Martin International,Engineering Jobs,20000 - 30000/annum 20-30K,25000,cv-library.co.uk
1,12612830,Stress Engineer Glasgow,Stress Engineer Glasgow Salary **** to **** We...,"Glasgow, Scotland, Scotland",Glasgow,NaN,permanent,Gregory Martin International,Engineering Jobs,25000 - 35000/annum 25-35K,30000,cv-library.co.uk
2,12612844,Modelling and simulation analyst,Mathematical Modeller / Simulation Analyst / O...,"Hampshire, South East, South East",Hampshire,NaN,permanent,Gregory Martin International,Engineering Jobs,20000 - 40000/annum 20-40K,30000,cv-library.co.uk
3,12613049,Engineering Systems Analyst / Mathematical Mod...,Engineering Systems Analyst / Mathematical Mod...,"Surrey, South East, South East",Surrey,NaN,permanent,Gregory Martin International,Engineering Jobs,25000 - 30000/annum 25K-30K negotiable,27500,cv-library.co.uk
4,12613647,"Pioneer, Miser Engineering Systems Analyst","Pioneer, Miser Engineering Systems Analyst Do...","Surrey, South East, South East",Surrey,NaN,permanent,Gregory Martin International,Engineering Jobs,20000 - 30000/annum 20-30K,25000,cv-library.co.uk
...,...,...,...,...,...,...,...,...,...,...,...,...
95,34858822,Chef De Parties Required Nationwide many with ...,Chef De Parties Required Nationwide many with ...,"UK, Greater London",London,NaN,NaN,Clear Selection,Hospitality & Catering Jobs,19000 per annum,19000,jobs.catererandhotelkeeper.com
96,34858923,Chef De Partie Norfolk Live In up to **** Tips,Chef De Partie Norfolk Live In up to **** Tips...,"Norfolk, UK, Norfolk",Norfolk,NaN,NaN,Clear Selection,Hospitality & Catering Jobs,17500 per annum,17500,jobs.catererandhotelkeeper.com
97,35152761,Plastic Extrusion Setter Nights,There is now a vacancy for a Plastic Extrusion...,"Haywards Heath, West Sussex",Haywards Heath,NaN,permanent,MatchBox Recruiting Ltd,Engineering Jobs,24000 - 29000/annum 24k - rising to 29k,26500,cv-library.co.uk
98,35272754,Assistant Manager Suffolk Coastal Restaurant ...,Assistant Manager Suffolk Coastal Restaurant ...,Suffolk East Anglia,UK,NaN,NaN,Clear Selection,Hospitality & Catering Jobs,19000 per annum,19000,caterer.com
99,35450486,Cluster Revenue Manager,Our client is part of an international hotel c...,Hertfordshire South East,UK,NaN,NaN,Chess Partnership,Hospitality & Catering Jobs,"Up to 45,000 plus excellent package",45000,caterer.com

In [58]:
skill = pd.read_csv('data/Skillset.csv',header=None)
skill.columns = ["type","name"]
skill.drop_duplicates(subset=["name"])
skill.shape

(256, 2)

In [59]:
skillset = skill['name'].tolist()
skillset

['Team building',
 'Teamwork',
 'Understanding',
 'Team leader',
 'Time management',
 'Stress management',
 'People Management',
 'Problem solve',
 'Organization',
 'Communication',
 'Action Oriented',
 'copy-writing',
 'Bias for action',
 'Client Management',
 'Coordination',
 'copy-editing',
 'Creative',
 'Critical Thinking',
 'Cross-functional ',
 'Customer Focused',
 'Customer Training',
 'Dashboards',
 'Data Reporting',
 'Deal with ambiguity',
 'Detail-Oriented',
 'Documentation',
 'end to end ownership',
 'Entrepreneurial mind-set',
 'Flexible',
 'General_Awareness',
 'go-getter attitude',
 'Handling Large Amounts of Data',
 'Hands on work experience',
 'high tolerance to ambiguity',
 'Initiative',
 'Integrity and Trust',
 'Interpersonal Skills',
 'SEO',
 'Social Media Platforms',
 'Leadership',
 'Mentoring/Coaching skills',
 'Monitoring Skills',
 'Multi Tasking',
 'Negotiation Skills',
 'extra language',
 'Persuasion',
 'Perseverance',
 'Presentation',
 'problem solver',
 'Problem Solving and Decision Making',
 'Process Orientation',
 'Learner',
 'Result-oriented',
 'work independently',
 'social media best practices',
 'Writing',
 'Computer Vision',
 'Chat-bots',
 'Dash',
 'Clustering',
 'Bagging',
 'Data Modeling',
 'Decision Trees',
 'Deep Learning',
 'Demand Forecasting',
 'Dimensionality reduction',
 'Django',
 'Ensemble Modeling',
 'Entity Recognition',
 'Flask',
 'Fraud Detection',
 'Gradient Descent',
 'Keras',
 'KNN',
 'matplotlib',
 'Naive Bayes',
 'Neural Networks',
 'NLP',
 'NLTK',
 'NLU',
 'OCR',
 'Open CV',
 'outlier detection',
 'Plotly',
 'Predictive modeling',
 'Price Modeling',
 'PySpark',
 'PyTorch',
 'Random Forest',
 'Recommender System',
 'Regression',
 'Sampling Techniques',
 'Speech Recognition',
 'Supervised Learning',
 'SVM',
 'TensorFlow',
 'Text Image processing',
 'Theano',
 'Time series analysis',
 'Unsupervised_Learning',
 'User Profiling',
 'XGBoost',
 'IOT',
 'Data Analysis',
 'Data Architecture',
 'Data Assets',
 'Business insights',
 'A/B testing',
 'Data Automation',
 'Data driven',
 'Data engineering',
 'Data mining',
 'Data Visualization',
 'Data Warehousing',
 'ETL',
 'Hypothesis testing',
 'Image Analytics',
 'Optimization',
 'Prescriptive Analytics',
 'Quantitative Analytics',
 'Seaborn',
 'Semantic Analysis',
 'Social Network Analysis',
 'Structured data',
 'Text Mining',
 'Unstructured data',
 'Web Analytics',
 'Container',
 'AWS',
 'Excel',
 'Databases',
 'DevOps',
 'Docker',
 'ERP',
 'Google Analytics',
 'Gurobi',
 'Hadoop',
 'HDFS',
 'Hive',
 'InVision',
 'Metabase',
 'MongoDB',
 'MS Word',
 'MxNet',
 'Node.js',
 'NoSQL',
 'PowerBI',
 'PowerPoint',
 'SaaS Product',
 'Software development',
 'Spark',
 'Spotfire',
 'SPSS',
 'Sqoop',
 'Tableau',
 'UI',
 'UX',
 'VBA',
 'Data Structures',
 'C++',
 'Haskell',
 'HTML',
 'CSS',
 'C ',
 'Java',
 'JavaScript',
 'MATLAB',
 'NumPy',
 'PHP',
 'Python',
 'R',
 'Ruby',
 'Scala',
 'SQL',
 'Leetcode',
 'HTML',
 'js',
 'Go',
 'Protocols',
 'http',
 'ddp',
 'api',
 'json',
 'firebase',
 '.net',
 'node',
 'flutter',
 'PDM System',
 'PLM System',
 'PMP Certification',
 'PRD Development',
 'Product Design',
 'Product Metrics',
 'Product road-map',
 'Product Strategic Direction',
 'product testing',
 'BTL',
 'Campaign Management',
 'Communication Strategy',
 'Community Building',
 'Community Development',
 'Consumer research',
 'Consumer segmentation',
 'Content Marketing',
 'Email Marketing',
 'Event collaboration',
 'Execute marketing campaigns',
 'Market Research',
 'Retention marketing',
 'alliances with media partners',
 'Analytical Skills',
 'B2B Sales',
 'Build Customer Insights',
 'Business Mindset',
 'Business Plan',
 'Collaboration with Designers',
 'Competitor research',
 'Content Operations',
 'creative thinking',
 'Customer Relationship management',
 'Direct Sales',
 'fleet management',
 'Growth Strategy',
 'Header Bidding',
 'Industry knowledge',
 'Institutional Sales',
 'Inventory Management',
 'ITIL',
 'Logistics Management',
 'Manage platform operations',
 'Management',
 'Marketing',
 'Marketing Automation',
 'Minimize Loss',
 'MS Office',
 'New Product Launch',
 'object oriented design',
 'performance metrics',
 'Problem structuring',
 'Process automation',
 'Process Management',
 'process oriented',
 'Project Management',
 'Property sourcing',
 'qualitative & quantitative research',
 'Reporting/Forecasting',
 'Resource Planning',
 'Revenue Management',
 'SDLC',
 'Six Sigma Certification',
 'Social Media/ Web Services',
 'Strategic Thinking',
 'Strategies',
 'Supply Chain',
 'Timely task completion',
 'Website optimization']

In [60]:
jd.shape

(244768, 12)

In [61]:
## Select data-related job descriptions
data = jd[jd['Title'].str.contains("Data|business|analyst",flags=re.IGNORECASE, regex=True,na=False)]
data

,Id,Title,FullDescription,LocationRaw,LocationNormalized,ContractType,ContractTime,Company,Category,SalaryRaw,SalaryNormalized,SourceName
2,12612844,Modelling and simulation analyst,Mathematical Modeller / Simulation Analyst / O...,"Hampshire, South East, South East",Hampshire,NaN,permanent,Gregory Martin International,Engineering Jobs,20000 - 40000/annum 20-40K,30000,cv-library.co.uk
3569,58759123,"Helpdesk / Desktop Support analystExcel, Word,...",Helpdesk / Desktop Support analyst required by...,London,London,full_time,permanent,Information Technology Services,IT Jobs,"From 22,000 to 24,000 per year",23000,planetrecruit.com
4083,60518662,Finance Manager Corporate business,Working for a large corporate in their London ...,London,London,NaN,permanent,NaN,Other/General Jobs,"60-70,000 + excellent bonus & benefits",65000,hays.co.uk
7459,64781459,Human Resource business partner industry leadi...,Progressive and forward thinking contract cate...,"City, London, UK, Greater London",London,NaN,NaN,Blanco Goldfarb Associates Ltd,Hospitality & Catering Jobs,"From 50,000 to 55,000 per annum Executive bene...",52500,jobs.catererandhotelkeeper.com
8636,65317404,Head Chef ****kbonus both increasing as busine...,We are opening a brand new Family run restaura...,St. Albans Hertfordshire South East,UK,NaN,NaN,stickyfaceproductions ltd,Hospitality & Catering Jobs,"20,000 per annum Bonus linked to your performa...",20000,caterer.com
...,...,...,...,...,...,...,...,...,...,...,...,...
236203,72549775,"SQL Python/Perl Data Engineer (Tick data, Larg...","SQL Python/Perl Data Engineer (Tick data, Larg...",London South East,South East London,NaN,permanent,Harrington Starr,IT Jobs,55000 - 75000 per annum + Benefits,65000,cwjobs.co.uk
239572,72629182,Senior Mechanical Engineer : ****D data,3D Data FINTEC Recruit is seeking a Senior Mec...,UK Warrington,Warrington,NaN,permanent,FINTEC recruit,Other/General Jobs,45000 Per Annum,45000,careers4a.com
240364,72650112,Oil/biofuels analyst reqd for top Oil Co London,This is a large team where you will share idea...,London,London,NaN,NaN,Goodman Masson,Accounting & Finance Jobs,"50,000 - 100,000",75000,eFinancialCareers
241213,72674553,"Data Manager SQL, Teradata, Netezza Retail In...","Data Manager | SQL, Teradata, Netezza Retail ...",South West London London South East,East Sheen,NaN,permanent,Burns Sheehan,Retail Jobs,"60000 - 65000 per annum + Bonus, H/C",62500,totaljobs.com
242127,72683579,Senior HR business partner,Our Blue chip global client is truly a great p...,London,London,NaN,permanent,NaN,HR & Recruitment Jobs,100k +,100000,simplyhrjobs.co.uk

## information extraction

### Year of Work Experience extraction

In [344]:
def get_year(text):

    #find the years text
    years = re.findall(r'[0-9+-]* year',text)
    years = re.findall(r'[0-9]*',str(years))
    year = max(years)
    return year

In [346]:
data['year'] = data['FullDescription'].apply(get_year)

<ipython-input-346-24fa6232f11f>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['year'] = data['FullDescription'].apply(get_year)

### skill modifier extraction

In [407]:
# Read the skill name from the datafile
def get_skill_list():
    skill = pd.read_csv('data/Skillset.csv',header=None)
    skill.columns = ["type","name"]
    skillset = skill['name'].tolist()
    return skillset

# Dividing paragraphs into sentences
def split_text(text): 
    text = re.split('[,|.]',text)
    return text

def get_wordnet_pos(tag): # Use Parts of Speech to tag words
    if tag.startswith('J'):
        return wordnet.ADJ
    elif tag.startswith('V'):
        return wordnet.VERB
    elif tag.startswith('N'):
        return wordnet.NOUN
    elif tag.startswith('R'):
        return wordnet.ADV
    else:
        return None

def get_modifier_lemmas(text):# tokenization
    tokens = word_tokenize(text)
    result = [[word,tag] for word,tag in pos_tag(tokens) if tag in ['NN','NNS','JJ','JJR','JJS','RB','RBS','RBR']]# Modifier

    wnl = WordNetLemmatizer()
    lemmas_sent = []
    for tag in result:
        wordnet_pos = get_wordnet_pos(tag[1]) or wordnet.NOUN
        lemmas_sent.append(wnl.lemmatize(tag[0], pos=wordnet_pos)) # lemmatization
    
    return lemmas_sent


def get_skill_info(jd):
    skillset = get_skill_list()
    col = {}
    
    for skill in skillset: # select Sentences with key skills
        match_list = []
        for sentence in jd:
            if ' '+skill in sentence:
                
                match_list.append(sentence)
        
        if match_list:
            words = get_modifier_lemmas(str(match_list)) # Extract the modifiers in the keyword sentences and clean the modifiers.
            words.append('mentioned')
            col[skill]= words
    return col


def jd_skill_df(skill): # Generate dataframe for jd-skill
    
    jd_skill_df = pd.DataFrame(skill,index=[0]).T
    
    return jd_skill_df
    

def get_match_info(jd_serial, skillset): # main function
    
    jd_skill = pd.DataFrame(jd_serial)
    
    jd_skill['FullDescription']=jd_skill['FullDescription'].apply(split_text)
    match_list = []

In [408]:
# apply the funtion to data
jd_list = pd.DataFrame(data)
jd_list['year'] = jd_list['FullDescription'].apply(get_year)
jd_list['slipt_jd'] = jd_list['FullDescription'].apply(split_text)
jd_list['info'] = jd_list['slipt_jd'].apply(get_skill_info)
jd_list = jd_list['info'].apply(pd.Series)
jd_list

,R,Excel,VBA,SQL,Management,Go,Understanding,Leadership,Marketing,MS Office,...,json,Data Reporting,Competitor research,object oriented design,Content Marketing,Integrity and Trust,Data Assets,Social Network Analysis,Container,AWS
0,"[[, ], mentioned]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"[[, ], mentioned]","[[, Essential, skill, knowledge, proven, abili...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"[[, ], mentioned]","[[, ], mentioned]","[[, ], mentioned]","[[, ], mentioned]","[[, ], mentioned]",NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
244750,"[[, rapid, expansion, plan, keen, away, impers...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
244751,"[[, Relies, extensive, experience, judgment, p...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
244757,"[[, Qualities, job, Good, subject, knowledge, ...","[[, Qualities, job, Good, subject, knowledge, ...",NaN,NaN,NaN,"[[, Qualities, job, Good, subject, knowledge, ...",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
244759,NaN,"[[, supply, teacher, following, benefit, suppo...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
244764,NaN,"[[, supply, teacher, following, benefit, suppo...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [342]:
jd_list.dropna(axis=1,how='all') # drop na
jd_list.dropna(axis=0,how='all')
jd_list

,Excel,Management,Understanding,Leadership,MS Office,Communication,SQL,ETL,PowerPoint,MS Word,...,Persuasion,Learner,fleet management,product testing,Hypothesis testing,Customer Training,Spotfire,process oriented,Neural Networks,Naive Bayes
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"[[, Essential, skill, knowledge, proven, abili...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
126184,NaN,"[[, skill, proven, background, following, abov...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
126205,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
126209,"[[, ability, ideally, ]]","[[, ]]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
126213,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
126224,NaN,"[[, Sales, /Director, level, level, ]]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Skill level labeling

In [233]:
corpus = jd_list.values.tolist()
def flat(nums):
    res = []
    for i in nums:
        if isinstance(i, list):
            res.extend(flat(i))
        else:
            res.append(i)
    return res
corpus = flat(corpus)

In [75]:
# Export all modifiers for analysis and annotation
corpus = pd.DataFrame(data=corpus)
count = pd.DataFrame(corpus.value_counts())
count.head(1000)

count.to_csv('./corpus_output.csv')

In [409]:
# Import a lexicon of marked-up modifiers
word_level = pd.read_csv('word_rank.csv',header=None,index_col=0).to_dict()
word_level = word_level[1]
word_level

{']': '0',
 '[': '0',
 'experience': '2',
 'skill': '0',
 'business': '0',
 'role': '0',
 'team': '0',
 'data': '0',
 '*': '0',
 'client': '0',
 'knowledge': '1',
 'management': '0',
 'system': '0',
 'opportunity': '0',
 'development': '0',
 'communication': '0',
 'project': '0',
 'service': '0',
 'environment': '0',
 'level': '0',
 'analysis': '0',
 'customer': '0',
 'new': '0',
 'company': '0',
 'support': '1',
 'ability': '1',
 'sale': '0',
 'Experience': '3',
 'understanding': '0',
 'process': '0',
 'application': '0',
 'candidate': '0',
 'Sales': '0',
 'requirement': '1',
 'solution': '0',
 'successful': '0',
 'essential': '1',
 'strong': '3',
 'year': '0',
 'technical': '0',
 'following': '0',
 'organisation': '0',
 'Excellent': '3',
 'Good': '2',
 'database': '0',
 'analytical': '0',
 'excellent': '3',
 'information': '0',
 'tool': '0',
 'other': '0',
 'high': '2',
 'industry': '0',
 'employment': '0',
 'able': '1',
 'good': '1',
 'report': '0',
 'software': '0',
 'job': '0',
 'technology': '0',
 'key': '0',
 'relationship': '0',
 'product': '0',
 'not': '0',
 'market': '0',
 'area': '0',
 'financial': '0',
 'position': '0',
 'also': '0',
 'work': '0',
 'well': '1',
 'such': '0',
 'problem': '0',
 'large': '0',
 'strategy': '0',
 'please': '0',
 'more': '0',
 'design': '0',
 'issue': '0',
 'performance': '0',
 'agency': '0',
 'benefit': '0',
 'responsible': '0',
 'background': '0',
 'delivery': '0',
 'recruitment': '0',
 'desirable': '0',
 'risk': '0',
 'responsibility': '1',
 'sector': '0',
 'change': '0',
 'record': '0',
 'contact': '0',
 'stakeholder': '0',
 'reporting': '0',
 'professional': '3',
 'commercial': '0',
 'vacancy': '0',
 'time': '0',
 's': '0',
 'ideally': '0',
 'marketing': '0',
 'part': '0',
 'internal': '0',
 'quality': '2',
 'verbal': '0',
 'career': '0',
 'model': '0',
 '�?589': '0',
 'user': '0',
 'highly': '2',
 'approach': '0',
 'activity': '0',
 'technique': '0',
 'experienced': '2',
 'line': '0',
 'Responsibilities': '0',
 'implementation': '0',
 'people': '0',
 'similar': '0',
 'full': '0',
 'as': '0',
 'complex': '0',
 'currently': '0',
 'relevant': '1',
 'permanent': '0',
 'qualification': '3',
 'standard': '1',
 'account': '0',
 'day': '0',
 'track': '0',
 'plan': '0',
 'test': '0',
 '/': '0',
 'function': '0',
 'travel': '0',
 'ideal': '0',
 'target': '0',
 'effective': '2',
 'www': '0',
 'use': '0',
 'office': '0',
 'package': '0',
 'equivalent': '0',
 'best': '0',
 'interpersonal': '0',
 'improvement': '0',
 'salary': '0',
 'senior': '3',
 'contract': '0',
 'training': '0',
 'relation': '0',
 'manager': '0',
 'global': '0',
 'presentation': '0',
 'degree': '0',
 'external': '0',
 'detail': '0',
 'analyst': '0',
 'month': '0',
 'own': '0',
 'web': '0',
 'practice': '1',
 'order': '0',
 'growth': '0',
 'Requirements': '0',
 'campaign': '0',
 'least': '0',
 'range': '0',
 'Strong': '2',
 'manner': '0',
 'temporary': '0',
 'department': '0',
 'rapidly': '0',
 'result': '0',
 'specialist': '2',
 'multiple': '0',
 'Essential': '1',
 'appropriate': '0',
 'advantage': '2',
 'member': '0',
 'query': '0',
 'individual': '0',
 'procedure': '0',
 'originally': '0',
 'beneficial': '0',
 'basic': '1',
 'methodology': '0',
 'documentation': '0',
 'exciting': '0',
 'need': '1',
 'proven': '2',
 'current': '0',
 'Previous': '0',
 'closely': '0',
 'attention': '0',
 'k': '0',
 'advantageous': '2',
 'analytics': '0',
 'very': '0',
 'strategic': '0',
 'administration': '0',
 'initiative': '0',
 'decision': '0',
 'great': '1',
 'fantastic': '2',
 'bonus': '0',
 'duty': '0',
 'accurate': '0',
 'group': '0',
 'language': '0',
 'insight': '0',
 'planning': '0',
 'statistical': '0',
 'potential': '0',
 '%': '0',
 'variety': '0',
 'effectively': '2',
 'consultancy': '0',
 'deadline': '0',
 'credit': '0',
 'task': '0',
 'production': '0',
 'programme': '0',
 'policy': '0',
 'review': '0',
 'timely': '0',
 'operational': '0',
 'trading': '0',
 'hour': '0',
 'supply': '0',
 'various': '0',
 'number': '0',
 'preferably': '0',
 'Business': '0',
 'previous': '0',
 'Skills': '0',
 'now': '0',
 'up': '0',
 'interested': '0',
 'meeting': '0',
 'exposure': '0',
 'server': '0',
 'and/or': '0',
 'monthly': '0',
 'maintenance': '0',
 'call': '0',
 'organisational': '0',
 'control': '0',
 'worker': '0',
 'then': '0',
 'security': '0',
 'functional': '0',
 'basis': '0',
 'pressure': '0',
 'success': '0',
 'focus': '0',
 'operation': '0',
 'network': '0',
 'date': '0',
 'site': '0',
 'budget': '0',
 'portfolio': '0',
 'interest': '0',
 'term': '0',
 'staff': '0',
 'consultant': '0',
 'telephone': '0',
 'online': '0',
 'available': '0',
 'o': '0',
 'supplier': '0',
 'cycle': '0',
 'further': '0',
 'end': '0',
 'provider': '0',
 'finance': '0',
 'objective': '0',
 'research': '0',
 'Location': '0',
 'player': '0',
 'platform': '0',
 'applicant': '0',
 'corporate': '0',
 'most': '0',
 'minimum': '0',
 'only': '0',
 'fast': '0',
 'infrastructure': '0',
 'necessary': '2',
 'qualified': '2',
 'monitoring': '0',
 'value': '0',
 'modelling': '0',
 'partner': '0',
 'world': '0',
 'dynamic': '0',
 'recommendation': '0',
 'concept': '0',
 'party': '0',
 'Desirable': '0',
 'Responsible': '0',
 'welcome': '0',
 'name': '0',
 'building': '0',
 'principle': '0',
 'capability': '0',
 'personal': '0',
 'expertise': '4',
 'subject': '0',
 'incident': '0',
 'http': '0',
 'suitably': '1',
 'capital': '0',
 'advanced': '3',
 'solid': '0',
 'email': '0',
 'regardless': '0',
 'major': '0',
 'leading': '2',
 'case': '0',
 'developer': '0',
 'small': '0',
 'base': '0',
 'Analysts': '0',
 'related': '1',
 'above': '0',
 'cost': '0',
 '>': '0',
 'progression': '0',
 'forward': '0',
 'independently': '0',
 'lead': '0',
 'someone': '0',
 'leader': '0',
 'volume': '0',
 'investment': '0',
 'firm': '0',
 'e': '0',
 'retail': '0',
 'directly': '0',
 'life': '0',
 'gender': '0',
 'request': '0',
 'detailed': '0',
 'international': '0',
 'so': '0',
 'awareness': '0',
 'right': '0',
 'specification': '0',
 'wide': '0',
 'efficient': '2',
 'different': '0',
 'medium': '0',
 'document': '0',
 'website': '0',
 'communicator': '0',
 'Role': '0',
 'brand': '0',
 'graduate': '0',
 'PC': '0',
 'lifecycle': '0',
 'expert': '4',
 'colleague': '0',
 'framework': '0',
 'scheme': '0',
 'discipline': '0',
 'possible': '1',
 'Senior': '3',
 'pound': '0',
 'Title': '0',
 'aspect': '0',
 'field': '0',
 'source': '0',
 'integration': '0',
 'workload': '0',
 'accordance': '0',
 'particular': '2',
 'trend': '0',
 'impact': '0',
 'Other': '0',
 'general': '0',
 'first': '0',
 'warehouse': '0',
 'Flexible': '2',
 'challenge': '0',
 'architecture': '0',
 'annual': '0',
 'proactive': '2',
 'negotiation': '0',
 'drive': '0',
 'main': '0',
 'period': '0',
 'specifically': '3',
 'equal': '0',
 'future': '0',
 'revenue': '0',
 'suite': '0',
 'prospect': '0',
 'unit': '0',
 'visit': '0',
 'event': '0',
 'bank': '0',
 'Technical': '0',
 'Duties': '0',
 'person': '0',
 'driven': '0',
 'oral': '0',
 'post': '0',
 'daily': '0',
 'numerate': '0',
 'extensive': '0',
 'preferable': '0',
 '//www': '0',
 'regular': '0',
 'annum': '0',
 'configuration': '0',
 'specific': '0',
 'employee': '0',
 'pricing': '0',
 'practical': '0',
 'proposal': '0',
 'type': '0',
 'confidence': '0',
 'competitive': '2',
 'quickly': '0',
 'testing': '0',
 'purpose': '0',
 'critical': '2',
 'division': '0',
 'innovative': '0',
 'Key': '2',
 'Able': '1',
 'confident': '0',
 'migration': '0',
 'g': '0',
 'etc': '0',
 'output': '0',
 'class': '0',
 'week': '0',
 'rapid': '2',
 'next': '0',
 'computer': '0',
 'core': '0',
 'hoc': '0',
 'flexible': '2',
 'regulatory': '0',
 'place': '0',
 'employer': '0',
 'preparation': '0',
 'Retail': '0',
 'creation': '0',
 'location': '0',
 'acumen': '0',
 'code': '0',
 'top': '0',
 'numerical': '0',
 'keen': '0',
 'hardware': '0',
 'overall': '0',
 'certification': '3',
 'insurance': '0',
 'immediate': '0',
 'clear': '0',
 'mobile': '0',
 'wider': '2',
 'required': '1',
 'resolution': '0',
 'significant': '3',
 'engagement': '0',
 'car': '0',
 'ownership': '0',
 'Marketing': '0',
 'forecast': '0',
 'attitude': '0',
 'efficiency': '3',
 'digital': '0',
 'script': '0',
 'Qualifications': '4',
 'leadership': '0',
 'expectation': '0',
 'return': '0',
 'Commercial': '0',
 'vendor': '0',
 'action': '0',
 'idea': '0',
 'banking': '0',
 'set': '0',
 'long': '0',
 'compliance': '0',
 'structure': '0',
 'Work': '0',
 'Understanding': '0',
 'centre': '0',
 'profile': '0',
 'resource': '0',
 'back': '0',
 'late': '0',
 'asset': '0',
 'Employment': '0',
 'engineering': '0',
 'provision': '0',
 'real': '0',
 'way': '0',
 'manipulation': '0',
 'advice': '0',
 'Extensive': '0',
 'particularly': '0',
 'criterion': '4',
 'fully': '0',
 'relational': '0',
 'ongoing': '0',
 'commission': '0',
 'demonstrable': '0',
 'local': '0',
 'working': '0',
 'award': '3',
 'accounting': '0',
 'input': '0',
 'big': '0',
 'amp': '0',
 'programming': '0',
 'regard': '0',
 'goal': '0',
 'finding': '0',
 'others': '0',
 'point': '0',
 'statistic': '0',
 'exceptional': '2',
 'update': '0',
 'capacity': '0',
 'passion': '0',
 'build': '0',
 'pension': '0',
 'Package': '0',
 'backup': '0',
 'Salary': '0',
 'rate': '0',
 'enquiry': '0',
 'enterprise': '0',
 'behalf': '0',
 'whilst': '0',
 'ad': '0',
 'addition': '1',
 'European': '0',
 'social': '0',
 'generation': '0',
 'governance': '0',
 'third': '0',
 'Company': '0',
 'cross': '0',
 'reference': '0',
 'busy': '0',
 'intelligence': '3',
 'initial': '0',
 'desire': '0',
 'channel': '0',
 'material': '0',
 'accuracy': '0',
 'interview': '0',
 'nbsp': '0',
 'Risk': '0',
 'method': '0',
 'holiday': '0',
 'offer': '0',
 'progress': '0',
 'front': '0',
 'creative': '0',
 'segmentation': '0',
 'Ability': '0',
 'phone': '0',
 'region': '0',
 'link': '0',
 'especially': '2',
 'expansion': '0',
 'due': '0',
 'table': '0',
 'apply': '0',
 'weekly': '0',
 'execution': '0',
 'timescales': '0',
 'positive': '1',
 'v': '0',
 'eligible': '0',
 'comfortable': '0',
 'forecasting': '0',
 'acquisition': '0',
 'Analysis': '0',
 'component': '0',
 'automation': '0',
 'additional': '1',
 'c': '0',
 'partnership': '0',
 'Benefits': '0',
 'generalist': '0',
 'immediately': '0',
 'robust': '0',
 'priority': '0',
 'search': '0',
 'program': '0',
 'stage': '0',
 'share': '0',
 'many': '0',
 'Demonstrable': '0',
 'clearly': '0',
 'Analyst': '0',
 'appointment': '0',
 'important': '0',
 'equipment': '0',
 'element': '0',
 'energy': '0',
 'solver': '0',
 'Exposure': '0',
 'eg': '0',
 'collection': '0',
 'successfully': '2',
 'towards': '0',
 'achievement': '2',
 'sound': '0',
 'release': '0',
 'depth': '3',
 'comprehensive': '3',
 'profitability': '0',
 'evaluation': '0',
 'direct': '0',
 'aware': '0',
 'executive': '0',
 'payment': '0',
 'central': '0',
 'broad': '0',
 'trade': '0',
 'literate': '0',
 'Management': '0',
 'direction': '0',
 'suitable': '0',
 'outcome': '0',
 'implement': '0',
 'holder': '0',
 'regression': '0',
 'nontechnical': '0',
 'start': '0',
 'outstanding': '3',
 'allowance': '0',
 'scale': '0',
 'i': '0',
 'primary': '0',
 'continuous': '0',
 'cause': '0',
 'tender': '0',
 'care': '0',
 'space': '0',
 'Candidates': '0',
 'chance': '0',
 'manage': '0',
 'Client': '0',
 'functionality': '0',
 'commitment': '0',
 "'Hays": '0',
 'assessment': '0',
 'complete': '0',
 'driver': '0',
 'bespoke': '0',
 'nature': '0',
 'version': '0',
 'competent': '0',
 'close': '0',
 'challenging': '2',
 'board': '0',
 'talent': '2',
 'ambitious': '0',
 'ambition': '0',
 'administrative': '0',
 'matter': '0',
 'solving': '0',
 'margin': '0',
 'audit': '0',
 '�?76': '0',
 'handson': '0',
 'side': '0',
 'consideration': '0',
 'agreed': '0',
 'transformation': '0',
 'consultative': '3',
 'stock': '0',
 'audience': '0',
 'last': '0',
 'deliverable': '2',
 'optimisation': '0',
 'prestigious': '0',
 'Real': '0',
 'automated': '0',
 'manufacturing': '0',
 'operating': '0',
 'processing': '0',
 'demand': '0',
 'urgently': '0',
 'fund': '0',
 'internally': '0',
 'module': '0',
 'response': '0',
 'interface': '0',
 'Information': '0',
 'proficient': '3',
 'check': '0',
 'really': '0',
 'definition': '0',
 'clearance': '0',
 'commercially': '0',
 'multi': '0',
 'talented': '3',
 'present': '0',
 'conjunction': '0',
 'status': '0',
 'reconciliation': '0',
 'pipeline': '0',
 'behaviour': '0',
 'structured': '0',
 'interaction': '0',
 'Relevant': '0',
 'assurance': '0',
 'pack': '0',
 'today': '0',
 'self': '0',
 'actively': '0',
 'familiar': '2',
 'profit': '0',
 'master': '3',
 'calculation': '0',
 'schedule': '0',
 'consumer': '0',
 'academic': '0',
 'mix': '0',
 'enthusiastic': '0',
 'effect': '0',
 'inhouse': '0',
 'junior': '1',
 'health': '0',
 'attribute': '0',
 'extremely': '0',
 'live': '0',
 'literacy': '0',
 'asbestos': '0',
 'networking': '0',
 'education': '0',
 'hand': '0',
 'url': '0',
 'deployment': '0',
 'reputation': '0',
 'context': '0',
 'view': '0',
 'short': '0',
 'Ensure': '1',
 'enhancement': '0',
 'desktop': '0',
 'edge': '0',
 'excel': '0',
 'applicable': '1',
 'alongside': '0',
 'include': '0',
 'selling': '0',
 'fare': '0',
 'public': '0',
 'uk': '0',
 'consistent': '0',
 'starter': '0',
 'efficiently': '2',
 'logical': '0',
 'proactively': '2',
 'eCommerce': '0',
 'meet': '0',
 'independent': '0',
 'university': '0',
 'pivot': '0',
 'director': '4',
 'willing': '0',
 'brief': '0',
 'workshop': '0',
 'setting': '0',
 'distribution': '0',
 'Permanent': '0',
 'guidance': '0',
 'dependent': '2',
 'option': '0',
 'Team': '0',
 'reward': '3',
 'recovery': '0',
 'thinking': '0',
 'legal': '0',
 'licence': '0',
 'primarily': '0',
 'head': '3',
 'quantitative': '0',
 'content': '0',
 'co': '0',
 'facility': '0',
 'house': '0',
 'regional': '0',
 'face': '0',
 'manual': '0',
 'science': '0',
 'country': '0',
 'school': '0',
 'flow': '0',
 'Applicants': '0',
 'writing': '0',
 'procurement': '0',
 '�?59': '0',
 'profitable': '0',
 'free': '0',
 'industrial': '0',
 'availability': '0',
 'indepth': '3',
 'formal': '0',
 'copy': '1',
 'retailer': '0',
 'legislation': '0',
 'property': '0',
 'accreditation': '0',
 'concise': '0',
 'installation': '0',
 'scope': '0',
 'gathering': '0',
 'recent': '0',
 'uptodate': '0',
 'survey': '0',
 'help': '0',
 'EXPERIENCE': '2',
 'institution': '0',
 'diverse': '0',
 'metric': '0',
 'ground': '0',
 'fault': '0',
 'inc': '0',
 'national': '0',
 'influence': '0',
 'private': '0',
 'varied': '0',
 'unique': '3',
 'access': '0',
 'useful': '2',
 'course': '0',
 'circa': '0',
 'strict': '0',
 'deal': '0',
 'aspiredata': '0',
 'facing': '0',
 'integrity': '0',
 'just': '0',
 'advertising': '0',
 'calibre': '0',
 'proficiency': '3',
 'storage': '0',
 'manufacturer': '0',
 'correct': '0',
 'accountant': '0',
 'identification': '0',
 'effectiveness': '0',
 'friendly': '0',
 'Project': '0',
 'assignment': '0',
 'learner': '0',
 'selection': '0',
 'law': '0',
 'transactional': '0',
 'perspective': '0',
 'predictive': '0',
 'urgent': '0',
 'page': '0',
 'offshore': '0',
 'uncapped': '0',
 'tester': '0',
 'supervision': '0',
 'ecommerce': '0',
 'actionable': '0',
 'assistance': '0',
 'far': '0',
 'price': '0',
 'satisfaction': '2',
 'mind': '0',
 'integral': '0',
 'however': '0',
 'active': '2',
 'note': '0',
 'guideline': '0',
 'referral': '1',
 'paced': '0',
 'pharmaceutical': '0',
 'treatment': '0',
 'completion': '0',
 'much': '0',
 'Candidate': '0',
 'Proven': '0',
 'willingness': '0',
 'amount': '0',
 'superb': '3',
 'accurately': '2',
 'whole': '0',
 'Recruitment': '0',
 'capture': '0',
 'eye': '0',
 'together': '0',
 'tight': '0',
 'thorough': '0',
 'helpdesk': '0',
 'root': '0',
 'culture': '0',
 'Not': '0',
 'Reports': '0',
 'liaison': '0',
 'personnel': '0',
 'numeracy': '0',
 'competency': '0',
 'city': '0',
 'home': '0',
 'CV': '0',
 'card': '0',
 'anyone': '0',
 'REQUIREMENTS': '0',
 'list': '0',
 'laboratory': '0',
 'coordination': '0',
 'description': '0',
 'form': '0',
 'aptitude': '0',
 'phase': '0',
 'appreciation': '2',
 'Financial': '0',
 'cash': '0',
 'agile': '0',
 'community': '0',
 'emphasis': '2',
 'scenario': '0',
 'marketplace': '0',
 'device': '0',
 'already': '0',
 'shift': '0',
 'adhoc': '0',
 'innovation': '0',
 'previously': '0',
 'figure': '0',
 'desired': '0',
 'Credit': '0',
 'several': '0',
 'accountability': '0',
 'expenditure': '0',
 'chip': '0',
 'maker': '0',
 'measurement': '0',
 'interim': '0',
 'discussion': '0',
 'credible': '2',
 'upgrade': '2',
 'word': '0',
 'Executives': '2',
 'Proactively': '0',
 'fashion': '0',
 'arena': '0',
 'niche': '0',
 'step': '0',
 'agreement': '0',
 'Global': '0',
 'scripting': '0',
 'confidential': '0',
 'rule': '0',
 'transition': '0',
 'medical': '0',
 'format': '0',
 'natural': '0',
 'regularly': '0',
 'workflow': '0',
 'cover': '0',
 'stream': '0',
 'delay': '0',
 'friend': '0',
 'Basic': '1',
 'command': '0',
 'submission': '0',
 'simple': '1',
 'PACKAGE': '0',
 'builder': '0',
 'validation': '1',
 'worldwide': '0',
 'assist': '0',
 'organization': '0',
 'propensity': '0',
 'entry': '0',
 'dedicated': '0',
 'hire': '0',
 'consistently': '0',
 'contractor': '0',
 'Up': '0',
 'mathematical': '0',
 'selfstarter': '0',
 'Reporting': '0',
 'example': '0',
 'usage': '0',
 'overseas': '0',
 'Representatives': '0',
 'autonomously': '0',
 'history': '0',
 'touch': '0',
 ...}

### Skill level macth

In [410]:
for index, row in jd_list.iterrows():
    for i in range(len(row)):
        if type(row[i])==list:
            row[i] = [ word_level[j] if j in word_level else 0 for j in row[i]]
            row[i] = max(re.findall(r'[0-5]*',str(row[i])))
                
jd_list

,R,Excel,VBA,SQL,Management,Go,Understanding,Leadership,Marketing,MS Office,...,json,Data Reporting,Competitor research,object oriented design,Content Marketing,Integrity and Trust,Data Assets,Social Network Analysis,Container,AWS
0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1,1,1,1,1,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
244750,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
244751,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
244757,2,2,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
244759,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
244764,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [411]:
jd_list.to_csv('t3_data_cp.csv')

In [412]:
jd_list = pd.read_csv('t3_data_cp.csv',index_col=0,low_memory=False)
jd_list

,R,Excel,VBA,SQL,Management,Go,Understanding,Leadership,Marketing,MS Office,...,Competitor research,object oriented design,Content Marketing,Integrity and Trust,Data Assets,Social Network Analysis,Container,AWS,count,sum
0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1
2,1.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,3
3,1.0,1.0,1.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5,5
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
244750,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,3
244751,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,2
244757,2.0,2.0,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,6
244759,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1
244764,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1

## concat table

In [415]:
result = pd.concat([data, jd_list], axis=1)
result = result.sort_values(by='count',ascending=False)
result = result.drop(columns=['slipt_jd', 'info'], axis=1,inplace=False)

In [417]:
t3_result =result.head(200)

In [418]:

t3_result.to_csv('./data/t3_result.csv')

## Processing results for app

In [399]:
dict1 = t3_result.to_dict(orient='records')
list1 = list(dict1)
list2 = []
for i in list1:
    temp_dict = dict(i)
    new_dict = {}
    for key in temp_dict:
        if pd.notnull(temp_dict[key]):
            new_dict[key]=temp_dict[key]
    list2.append(new_dict)
print(list2)

for new_dict in list2:
    df_list = [new_dict]
    jd_df = pd.DataFrame(df_list).T
    print(jd_df)

[{'Id': 47920373, 'Title': 'Business Manager', 'FullDescription': "Business Manager  Perm  Bradford  **** p/a As the Business Manager you will be accountable for all aspects of the service and provision supporting happy living and meeting/exceeding customer expectations. Responsible for the Quality of service which must meet Care Quality Commission (CQC) essential standards. Key Accountabilities  Registered Manager with CQC.  Understanding of CQC essentials.  Business planning and budget management.  Health and safety legislation.  Marketing.  Safeguarding of vulnerable adultsLocal and national policies.  Deprivation of liberty  Mental Capacity Act.  Performance of the Senior Team. Experience  Previous people management exp, managing budgets & working to a business plan, experience of working to targets, knowledge of a care setting & needs of older people. Qualifications  Level 5 Leadership in Management or equivalent. If not already obtained the organisation will provide this. To discuss this role or any other Registered General Nurse or home management jobs in the Yorkshire area please contact Emma Hardaker at The Synergy Group on **** **** **** or email your CV to emma.hardakersynergygroup.co.uk. Working with The Synergy Group offers:  The most experienced Social Work recruitment team in the UK  Access to the broadest selection of Social Work vacancies in the UK  Excellent rates of pay  Honest & personal service from a consultant with over **** year's industry experience The Synergy Group is a specialist recruiter of Social Work jobs, to view a full selection of our current vacancies please visit synergygroup.co.uk The Synergy Group is an equal opportunities employer. For more opportunities, please visit www.synergygroup.co.uk", 'LocationRaw': 'Bradford, West Yorkshire', 'LocationNormalized': 'Bradford', 'Category': 'Healthcare & Nursing Jobs', 'SalaryRaw': '34000 to 34000 per year', 'SalaryNormalized': 34000, 'SourceName': 'careworx.co.uk', 'year': '', 'Management': '4', 'Understanding': '1', 'Leadership': '4', 'score_sum': 9.0}, {'Id': 47920375, 'Title': 'RGN Business Manager', 'FullDescription': "RGN Business Manager  Bradford  Perm  **** p/a As the Business Manager you will be accountable for all aspects of the service and provision supporting happy living and meeting/exceeding customer expectations. Responsible for the Quality of service which must meet Care Quality Commission (CQC) essential standards. Key Accountabilities  Registered Manager with CQC.  Understanding of CQC essentials.  Business planning and budget management.  Health and safety legislation.  Marketing.  Safeguarding of vulnerable adultsLocal and national policies.  Deprivation of liberty  Mental Capacity Act.  Performance of the Senior Team. Experience  Previous people management exp, managing budgets & working to a business plan, experience of working to targets, knowledge of a care setting & needs of older people. Qualifications  Level 5 Leadership in Management or equivalent. If not already obtained the organisation will provide this. To discuss this role or any other Registered General Nurse or home management jobs in the Yorkshire area please contact Emma Hardaker at The Synergy Group on **** **** **** or email your CV to emma.hardakersynergygroup.co.uk. Working with The Synergy Group offers:  The most experienced Social Work recruitment team in the UK  Access to the broadest selection of Social Work vacancies in the UK  Excellent rates of pay  Honest & personal service from a consultant with over **** year's industry experience The Synergy Group is a specialist recruiter of Social Work jobs, to view a full selection of our current vacancies please visit synergygroup.co.uk The Synergy Group is an equal opportunities employer. For more opportunities, please visit www.synergygroup.co.uk", 'LocationRaw': 'Bradford, West Yorkshire', 'LocationNormalized': 'Bradford', 'Category': 'Healthcare & Nursing Jobs', 'SalaryRaw': '40000 to 40000 per year', 'SalaryNormalized': 40000, 'SourceName': 'careworx.co.uk', 'year': '', 'Management': '4', 'Understanding': '1', 'Leadership': '4', 'score_sum': 9.0}, {'Id': 52015857, 'Title': 'Senior systems Analyst', 'FullDescription': "Senior Systems Analyst Belfast ****K  ****K  Bonus  Benefits Diamond IT is working in partnership CME Technology and Support Services Limited, a CME Group company, in the recruitment process for multiple technology roles in the heart of Belfast. CME Technology and Support Services is building teams of talented engineers in Belfast city centre to work on the development, support and integration of highlevel innovative applications used by a global client base. CME Technology and Support Services Limited is a wholly owned CME Group company. CME Group, the world's largest and most diverse derivatives exchange and is where the world comes to manage risk. Department/Function Description: CME Group is looking for a Senior Systems Analyst in their Belfast. Must be able to translate system requirements for the business, and business requirements for the technical team. For this role you will either have come from a development or QA background, understand fixed messages, Tibco service Bus and be able to drive the systems architecture. Perform analysis, integration and prioritization across the Globex trading platform. Applies comprehensive understanding of the industry issues, advice the direction of critical discipline at CME Group. This individual will be part of a crossfunctional project team that follows Agile methodologies, working across geographic boundaries and will actively participate in all aspects of project development. The ideal candidate will have knowledge of the derivatives markets, listed futures, options and OTC as well as the technical solutions that support these markets. Must be able to communicate with both Business and Technical teams. Required Technical Skills and Experience: Use of Agile Methodolgy Communication with Business and Technology Ability to Produce Use Cases Understand high level business scenarios Diagraming tools (ex. Visio) Ability to represent technical direction of enterprise Preferred Technical Skills Experience: Derivative Markets JAVA, QA processes and technology Unix SQL Technical writing skills Knowledge of complete technical implementations Other Qualifications: Ability to effectively communicate with both technical and nontechnical team members. BS or MS degree or equivalent in a technical field preferred The ideal candidate will have knowledge of the derivatives markets, listed futures, options and OTC as well as the technical solutions that support these markets. The Rewards CME Technology and Support Services Limited offers a unique environment where employees have the opportunity to drive the global financial services industry around the clock, around the world. It is a leading technology company, which means that cuttingedge IT solutions are deployed by our employees to serve financial markets worldwide. The pace is dynamic, the work is unlike any other firm in the business, and the possibilities are endless. It offers tremendous opportunity for employees to develop their careers, to become experts in our industry, and to turn their innovative ideas into realities. A continuous learning organisation Competitive compensation program where base pay is based on market practices. Annual incentive programs Competitive Benefits Please contact Chris Lee from Diamond IT for further information on **** YOUR DETAILS WILL BE TREATED IN A CONFIDENTIAL MANNER WITH DIAMOND RECRUITMENT GROUP. ONLY APPLICANTS MEETING THE CRITERIA WILL BE CONTACTED. Minimim Experience **** to 4 years", 'LocationRaw': 'Co Antrim', 'LocationNormalized': 'UK', 'ContractTime': 'permanent', 'Company': 'ARRAY', 'Category': 'HR & Recruitment Jobs', 'SalaryRaw': '35000 - 45000', 'SalaryNormalized': 40000, 'SourceName': 'recruitni.com', 'year': '4', 'Communication': '2', 'SQL': '4', 'score_sum': 6.0}, {'Id': 53729826, 'Title': 'Data Analyst / Statistician / MI Analyst  SQL', 'FullDescription': 'Data Analyst / Statistician / MI Analyst  SQL Our client is a global provider of data, analytical and decision support services to insurance companies. They are looking for an experienced Data Analyst / Statistician. As the successful Data Analyst / Statistician you will work within a small team providing business support, decision support software and analytical services to insurers in the UK. Data Analyst / Statistician: responsibilities will include: The collection, analysis, interpretation and presentation of quantitative information about the product and the benefits that it brings to customers. To process and analyse the data in context, looking for patterns to help make decisions. Designing and writing easy to read customer data analysis reports. Advising customers on findings and recommending strategy. Monitoring, reporting on and modelling the calibrations Evaluating the impact of potential changes in calibrations Analysing benefits and producing annual and other benefit reports for customers Presenting and explaining results to clients and advising on strategy Ad hoc reporting as and when required by customers or staff Data Analyst / Statistician: qualifications & experience required for the The candidate must have: Degree in Mathematics or Statistics or in another related subject or an equivalent qualification Post graduate experience working in an analytical role First class spreadsheet skills Proficiency with MS Word and MS Access Any Insurance experience or other financial services experience  preferably in claims would be advantageous Data Analyst / Statistician: skills & knowledge Firstclass analytical skills, including the ability to seek answers to problems within data sets, to look beyond the data to recognise where analytics can be used to help customers drive greater benefits Firstclass communication skills, including the ability to influence customers (at different levels) and colleagues. Have a thorough understanding of analytical and statistical concepts and common methods of data analysis. Be able to speak confidently to customers own specialists about the methods used and the processes followed looking at findings and strategy Data Analyst / Statistician/ MI Analyst  Management Information Salary up to **** Location: Fleet, Hampshire', 'LocationRaw': 'Hampshire, South East', 'LocationNormalized': 'Hampshire', 'ContractTime': 'permanent', 'Company': 'Gregory Martin International', 'Category': 'IT Jobs', 'SalaryRaw': '25000 - 35000/annum 25,000 to 35,000', 'SalaryNormalized': 30000, 'SourceName': 'cv-library.co.uk', 'year': '', 'Management': '2', 'SQL': '0', 'MS Word': '3', 'score_sum': 5.0}, {'Id': 52314212, 'Title': 'Commercial Finance Analyst', 'FullDescription': 'Our client, has an unrivalled opportunity for a commercially astute part qualified accountant to join their highly sought after, talent scheme based at their hugely impressive UK Headquarters in Bedfordshire. The successful applicant will gain exposure working in a true finance business partner capacity, working with nonfinance stakeholders. You will be required to liaise, influence and build relationships at director level and will gain unparalleled exposure in this capacity. Responsibilities will include: development of retail pricing and ensuring the process is coordinated with all key stakeholders; developing effective pricing strategies to support retail stores and develop optimum selling price; working with commercial teams to understand customer profiles to make accurate decisions within the pricing proposal; producing and presenting at senior management / director level using PowerPoint to clearly demonstrate your findings and to provide reassurance that pricing proposals are financially sound and accurate. The successful candidate will ideally be of graduate calibre, CIMA / ACCA part qualified, with an excellent record of achievement. Your experience to date will be gained working with a large company environment. You will be an outgoing and confident individual, a first class communicator and have the ambition to reach Senior Manager level. The successful candidate will be rewarded with excellent benefits, onsite restaurant, superb social and out of work activities and the tools and training to succeed at the highest level. Where UK qualifications are specified we will take into account overseas equivalents. To apply for this position candidates must be eligible to work in country in which the role is based. We regret that due to the high volume of applications we receive if you have not heard from us within 10 days, then your application has not been successful on this occasion. However, please do continue to apply for jobs advertised by CMC Consulting. For all our current vacancies please visit our website http://www.cmcconsulting.co.uk We do our best to ensure that the wording used in our job vacancies does not discriminate against an individual in any way. Please contact us if you feel that this is not the case.', 'LocationRaw': 'Bedfordshire', 'LocationNormalized': 'Bedfordshire', 'ContractType': 'full_time', 'ContractTime': 'permanent', 'Company': 'CMC Consulting Limited', 'Category': 'Accounting & Finance Jobs', 'SalaryRaw': '25,000 - 35,000', 'SalaryNormalized': 30000, 'SourceName': 'myjobs.cimaglobal.com', 'year': '', 'PowerPoint': '4', 'score_sum': 4.0}, {'Id': 55355091, 'Title': 'Senior Finance Business Partner', 'FullDescription': 'My client, a world leading organisation with regional offices based in Milton Keynes is looking to bring in a Senior Finance Business Partner on an interim basis to assist them during a busy period of change. The role will focus on coordination and delivering the entire reporting function for a multi site retail operation. You will work alongside the senior operational management team to deliver both short and long term objectives whilst driving the retail leadership team agenda. The successful candidate will ideally be: Qualified ACA/ACCA/CIMA Accountant Experienced in the Production of MI for leadership teams ideally within a blue chip environment. Demonstrate strong analytical skills alongside advanced technical knowledge of reporting tools. Advanced Excel skills including Macros and Visual Basic A strong team leader with exceptional influencing and business partnering experience If you feel the above role is one you are suitable for and you are immediately available then please feel free to apply and one of our consultants will be in touch to discuss this in more detail. Where UK qualifications are specified we will take into account overseas equivalents. To apply for this position candidates must be eligible to work in country in which the role is based. We regret that due to the high volume of applications we receive if you have not heard from us within 10 days, then your application has not been successful on this occasion. However, please do continue to apply for jobs advertised by CMC Consulting. For all our current vacancies please visit our website http://www.cmcconsulting.co.uk We do our best to ensure that the wording used in our job vacancies does not discriminate against an individual in any way. Please contact us if you feel that this is not the case.', 'LocationRaw': 'Milton Keynes', 'LocationNormalized': 'Milton Keynes', 'ContractType': 'full_time', 'ContractTime': 'contract', 'Company': 'CMC Consulting Limited', 'Category': 'Accounting & Finance Jobs', 'SalaryRaw': 'Up to 375 Per Day', 'SalaryNormalized': 90000, 'SourceName': 'myjobs.cimaglobal.com', 'year': '', 'Excel': '3', 'score_sum': 3.0}, {'Id': 52257837, 'Title': 'Lead Database Administrator', 'FullDescription': "Lead Database Administrator Belfast Competitive salary  bonus  Benefits Diamond IT is working in partnership CME Technology and Support Services Limited, a CME Group company, in the recruitment process for multiple technology roles in the heart of Belfast. CME Technology and Support Services is building teams of talented engineers in Belfast city centre to work on the development, support and integration of highlevel innovative applications used by a global client base. CME Technology and Support Services Limited is a wholly owned CME Group company. CME Group, the world's largest and most diverse derivatives exchange and is where the world comes to manage risk. The company looking for aLead Database Administrator with 5 or more years of commercial experience, with excellent written and verbal communication skills and the ability to handle multiple projects. As a Lead Database Administrator you must be independent, selfmotivating, and willing to work in a fast paced environment having indepth expertise in Oracle ****G. In this role you will collaborate with business process owners and contribute in translating business process to logical design. You will be part of a crossfunctional project teams working across geographic boundaries. This database administrator position requires the following experience / knowledge: BS or MS degree or equivalent in computer science. Proficient with data modelling and creating physical models from logical models. Experience with Oracle ****Gs utilities, RAC and partitioning. Ability to create, implement and review complex database structures. Can perform complex ETL utility functions. Able to install, configure, and tune Oracle RAC clusters. Ability to tune complex SQL and indexes. Strong knowledge of backups and recovery. Ability to trend and report on capacity of assigned systems. It would be beneficial to have experience of the following but not important: SQL PL/SQL Oracle ASM PERL Shell Scripting Clusterware DataPump OEM Grid Control SQL Server 2008 TSQL The Rewards CME Technology and Support Services Limited offers a unique environment where employees have the opportunity to drive the global financial services industry around the clock, around the world. It is a leading technology company, which means that cuttingedge IT solutions are deployed by our employees to serve financial markets worldwide. The pace is dynamic, the work is unlike any other firm in the business, and the possibilities are endless. It offers tremendous opportunity for employees to develop their careers, to become experts in our industry, and to turn their innovative ideas into realities. A continuous learning organisation Competitive compensation program where base pay is based on market practices. Annual incentive programs Competitive Benefits YOUR DETAILS WILL BE TREATED IN A CONFIDENTIAL MANNER WITH DIAMOND RECRUITMENT GROUP. ONLY APPLICANTS MEETING THE CRITERIA WILL BE CONTACTED. Minimim Experience **** to 5 years", 'LocationRaw': 'Belfast', 'LocationNormalized': 'Belfast', 'ContractTime': 'permanent', 'Company': 'ARRAY', 'Category': 'HR & Recruitment Jobs', 'SalaryRaw': '40000 - 55000', 'SalaryNormalized': 47500, 'SourceName': 'recruitni.com', 'year': '5', 'SQL': '3', 'ETL': '0', 'score_sum': 3.0}, {'Id': 51156570, 'Title': 'Business Development Manager', 'FullDescription': 'Business Development Manager Hays Facilities Management is recruiting for a proven Business Development Manager to work for a respected maintenance contractor. With a strong portfolio of blue chip contracts my client are in a position to expand their Business Development team based in Central London. The role will appeal to individuals in the hunter / gatherer type mould that can develop sales pipelines without corporate interference. My client has a long tradition of delivering excellence to clients through true partnering and understanding. Requirements  Proven track record of sales in the M E building services market, contract target values are between ****k  ****m, preferably within blue chip corporate business.  Capable and competent to complete PQQ/Tender documentation.  Capable and competent to complete tender pricing (a good grasp of MS Excel is desirable).  Knowledge of l