In [1]:
import docx2txt
import warnings
warnings.filterwarnings('ignore')
import pandas as pd
from nltk.corpus import stopwords
import re
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [2]:
import pandas as pd
from nltk.corpus import stopwords
import re

# load data
#df = pd.read_csv('./jobs_small.csv', encoding="latin-1")
df_data = pd.read_excel('./data/jd_clean.xlsx')

In [4]:
for i in df_data.index:
    with open('./data/'+str(i)+'.txt', 'w',encoding='utf-8') as f:
        f.write(str(df_data.loc[i,'Title'])+ '\n')
        f.write(str(df_data.loc[i,'FullDescription']))

In [5]:
 def clean_text(text):
        STOPWORDS = set(stopwords.words('english'))
        # change to lower-csae
        text = str(text).lower()
        # drop the stopwords
        text = ' '.join(word for word in text.split() if word not in STOPWORDS) 
        return text

In [6]:
def consine_similarity(resume, job):
    doc = [resume,job]
    cv = CountVectorizer()
    count_matrix = cv.fit_transform(doc)
    matchpercentage = cosine_similarity(count_matrix)[0][1]
    matchpercentage = round(matchpercentage,2)

    return(matchpercentage)

In [7]:
df_data['score']=''

In [8]:
for i in df_data.index:
    #jd=df_data.loc[i,'FullDescription']
    f = open('./data/'+str(i)+'.txt', 'r',encoding = 'utf -8')      
    jd = f.read()
    resume = docx2txt.process('./data/resume.docx')
    resume = clean_text(resume)
    #print (i,df_data.loc[i,'Title'], consine_similarity(resume,jd))
    df_data.loc[i,'score']=consine_similarity(resume,jd)

In [9]:
df_data = df_data.sort_values(by=['score'],ascending=False)
df_data.head(20)

,Unnamed: 0,Id,Title,FullDescription,LocationRaw,LocationNormalized,ContractType,ContractTime,Company,Category,SalaryRaw,SalaryNormalized,SourceName,FullDescription_Raw,score
7676,113035,69731518,"Software Development Process Analyst Bank, Ag...",software development process engineer banking ...,London,London,full_time,permanent,Information Technology Services,IT Jobs,"From 45,000 to 55,000 per year",50000,planetrecruit.com,Software Development Process Engineer Banking...,0.46
2563,43323,68496296,Lead Technical Business Analyst,client capita uks leading business process out...,London City EC1A2,Central London,NaN,permanent,aap3,IT Jobs,50000.00 - 55000.00 GBP Annual,52500,jobserve.com,Our client Capita is the UK's leading Business...,0.46
3130,52222,68665951,Development Technical Lead/Project Manager – g...,new opportunity experienced development techni...,Woking Surrey South East,Woking,NaN,permanent,RWI,IT Jobs,"From 35,000 to 45,000 per annum plus benefits",40000,totaljobs.com,A new opportunity for an experienced Developme...,0.45
7545,111551,69687078,Business Intelligence Developer,business intelligence developer microsoft sql ...,"The City,London",London,NaN,permanent,Code IT Recruitment Ltd,IT Jobs,"40,000-55,000",47500,jobsite.co.uk,Business Intelligence Developer (Microsoft SQL...,0.45
5268,79665,69019049,Java Analyst Developer,job title java analyst developer salary locati...,"Oxford, Oxfordshire",Oxford,NaN,permanent,CBSbutler,IT Jobs,40000 - 46000/annum Benefits,43000,cv-library.co.uk,Job Title: Java Analyst Developer Salary: Up t...,0.44
3642,57404,68685314,Business Analyst,valueworks medium sized award winning high gro...,Wigan Lancashire North West,UK,NaN,contract,Valueworks Limited,IT Jobs,134 per day flexible benefits package.,32160,totaljobs.com,Valueworks is a medium sized; award winning h...,0.44
4216,63719,68704904,Business Analyst,business analyst required join medium sized aw...,Wigan Lancashire North West,UK,NaN,contract,Recruitment Genius,IT Jobs,35000 per annum,35000,totaljobs.com,A Business Analyst is required to join a mediu...,0.43
5563,82760,69042083,Java Analyst Programmer,java analyst programmer cuffley potters bar k ...,Potters Bar Hertfordshire South East,UK,NaN,permanent,Absolute Solution Limited,IT Jobs,"From 35,000 to 40,000 per annum 35-40k plus bens",37500,cwjobs.co.uk,"Java Analyst Programmer Cuffley, Potters Bar, ...",0.42
537,13285,66600493,New Business Development Telesales Training ...,established client specialist college central ...,London,London,NaN,permanent,Morgan Jones Recruitment Consultants,Sales Jobs,24000 - 33000/annum 24K plus Circa 8k OTE bonus,28500,cv-library.co.uk,Our established client is a Specialist College...,0.42
6997,104377,69572312,Java Analyst Programmer,java analyst programmer cuffley potters bar k ...,Hertfordshire Cuffley EN6 4,Cuffley,NaN,permanent,Absolute Solution,IT Jobs,35000.00 - 40000.00 GBP Annual,37500,jobserve.com,"Java Analyst Programmer Cuffley, Potters Bar, ...",0.42
67,2690,55410479,C++ Senior Analyst Programmer,senior analyst programmer c working internatio...,London,London,full_time,permanent,Absolute Solution Ltd,IT Jobs,"From 48,000 to 55,000 per year + excellent ben...",51500,planetrecruit.com,Senior Analyst Programmer (C++) Working for an...,0.41
4446,66397,68713288,C Analyst Progarmmer London,c analyst applications supportlondon k k clien...,City London South East,London,NaN,permanent,Modis,IT Jobs,35000 - 40000 per annum + Bonus + Benefits,37500,totaljobs.com,C' ANALYST APPLICATIONS SUPPORTLONDON ****K***...,0.4
5742,84558,69076822,Business Analyst Mobile Applications,soltech atlantas premier software development ...,Atlanta,UK,NaN,permanent,"SolTech, Inc.",IT Jobs,$75000.00 to $95000.00,85000,tntjobs.co.uk,"SolTech, Atlantas premier software development...",0.4
4449,66411,68713323,C Application Support Analyst London,c analyst applications supportlondon k k clien...,City London South East,London,NaN,permanent,Modis,IT Jobs,35000 - 40000 per annum + Bonus + Benefits,37500,totaljobs.com,C' ANALYST APPLICATIONS SUPPORTLONDON ****K***...,0.4
4652,69513,68806111,Systems Analyst (workflow BPM) London **** ...,systems analyst workflow bpm london benefits l...,London,London,NaN,permanent,C.O.A.L IT. Services Ltd,IT Jobs,50-55k,52500,jobsite.co.uk,Systems Analyst (workflow BPM) London **** ...,0.4
2959,49606,68627181,Oracle DataWarehouse Programmer,large financial organisation looking secure se...,Lanarkshire Glasgow G32 0,Glasgow East Investment Park,NaN,contract,Capita Resourcing IT,IT Jobs,250.00 - 275.00 GBP Day,63000,jobserve.com,Large financial organisation is looking to sec...,0.4
3029,49947,68628383,C Analyst Programmer London,c analyst applications support london k k clie...,London City EC1A2,Central London,NaN,permanent,Modis,IT Jobs,35000.00 - 42000.00 GBP Annual,38500,jobserve.com,C' ANALYST APPLICATIONS SUPPORT LONDON ****K...,0.4
5615,83033,69043493,Systems Analyst,one moment please systems analyst workflow bpm...,London South East,South East London,NaN,permanent,Coal IT Services,IT Jobs,"From 50,000 to 55,000 per annum + benefits",52500,cwjobs.co.uk,"One moment, please Systems Analyst (workflow –...",0.4
3131,52223,68665953,Senior Software Developer – global research bu...,new opportunity experienced software developer...,Woking Surrey South East,Woking,NaN,permanent,RWI,IT Jobs,"From 35,000 to 45,000 per annum plus benefits",40000,totaljobs.com,A new opportunity for an experienced software ...,0.4
3819,59401,68690814,Business Analyst,client operating within financial services sec...,London South East,South East London,NaN,permanent,Spring Technology,IT Jobs,35000.00 - 60000 per annum,47500,totaljobs.com,My client operating within the financial servi...,0.4